POSTGRES_USER=eha
POSTGRES_PASSWORD=eha_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

JWT_SECRET=change-me
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=change-me

MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=nunomendesx40@gmail.com
MAIL_PASSWORD="uxag iaaa uypl unst"
MAIL_FROM_ADDRESS="nunomendesx40@gmail.com"
MAIL_FROM_NAME="EHA"

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19006
